= simple_form_for [:admin, @tab_click] do |f|
  .row.pb-2
    .col-md-6
      = f.input :tab_name, input_html: { autocomplete: "off", placeholder: "Enter tab name" }
    .col-md-6
      = f.input :clicks, input_html: { autocomplete: "off", placeholder: "Enter number of clicks" }

  = f.submit t("helpers.submit.submit", default: "Submit"), class: "btn btn-success"
  = link_to t('.cancel', default: t("helpers.links.cancel")), admin_tab_clicks_path, class: "btn btn-outline-secondary"
